In [1]:
%matplotlib inline
from IPython.display import display
import numpy as np
import pandas as pd

In [2]:
pd.__version__

'1.3.4'

In [3]:
pd.options.display.min_rows = 20

In [4]:
autos = pd.read_csv('https://github.com/mattharrison/datasets/raw/master/data/vehicles.csv.zip')

C:\Users\Goncharuk.SM\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (68,70,71,72,73,74,76,79) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [5]:
autos

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
5,14.982273,0.0,0.0,0.0,21,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
6,13.184400,0.0,0.0,0.0,22,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
7,13.733750,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
8,12.677308,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
9,13.184400,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41134,16.480500,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
41135,12.677308,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
41136,13.733750,0.0,0.0,0.0,21,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
41137,11.771786,0.0,0.0,0.0,24,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
41138,13.184400,0.0,0.0,0.0,21,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
41139,14.982273,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
41140,14.330870,0.0,0.0,0.0,20,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
41141,15.695714,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
41142,15.695714,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
41143,18.311667,0.0,0.0,0.0,16,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [6]:
autos.columns

Index(['barrels08', 'barrelsA08', 'charge120', 'charge240', 'city08',
       'city08U', 'cityA08', 'cityA08U', 'cityCD', 'cityE', 'cityUF', 'co2',
       'co2A', 'co2TailpipeAGpm', 'co2TailpipeGpm', 'comb08', 'comb08U',
       'combA08', 'combA08U', 'combE', 'combinedCD', 'combinedUF', 'cylinders',
       'displ', 'drive', 'engId', 'eng_dscr', 'feScore', 'fuelCost08',
       'fuelCostA08', 'fuelType', 'fuelType1', 'ghgScore', 'ghgScoreA',
       'highway08', 'highway08U', 'highwayA08', 'highwayA08U', 'highwayCD',
       'highwayE', 'highwayUF', 'hlv', 'hpv', 'id', 'lv2', 'lv4', 'make',
       'model', 'mpgData', 'phevBlended', 'pv2', 'pv4', 'range', 'rangeCity',
       'rangeCityA', 'rangeHwy', 'rangeHwyA', 'trany', 'UCity', 'UCityA',
       'UHighway', 'UHighwayA', 'VClass', 'year', 'youSaveSpend', 'guzzler',
       'trans_dscr', 'tCharger', 'sCharger', 'atvType', 'fuelType2', 'rangeA',
       'evMotor', 'mfrCode', 'c240Dscr', 'charge240b', 'c240bDscr',
       'createdOn', 'modifiedOn', 'startStop', 'phevCity', 'phevHwy',
       'phevComb'],
      dtype='object')

In [7]:
cols = ['city08', 'comb08', 'highway08', 'cylinders', 'displ', 'drive', 'eng_dscr', 
        'fuelCost08', 'make', 'model', 'trany', 'range', 'createdOn', 'year']

In [8]:
autos[cols].dtypes

city08          int64
comb08          int64
highway08       int64
cylinders     float64
displ         float64
drive          object
eng_dscr       object
fuelCost08      int64
make           object
model          object
trany          object
range           int64
createdOn      object
year            int64
dtype: object

In [9]:
autos[cols].memory_usage(deep=True)

Index             128
city08         329152
comb08         329152
highway08      329152
cylinders      329152
displ          329152
drive         3028369
eng_dscr      2135693
fuelCost08     329152
make          2606267
model         2813134
trany         2933276
range          329152
createdOn     3497240
year           329152
dtype: int64

In [10]:
autos[cols].memory_usage(deep=True).sum()

19647323

# Ints

In [11]:
autos[cols].select_dtypes(int).describe()

,city08,comb08,highway08,fuelCost08,range,year
count,41144.000000,41144.000000,41144.000000,41144.000000,41144.000000,41144.000000
mean,18.369045,20.616396,24.504667,2362.335942,0.793506,2001.535266
std,7.905886,7.674535,7.730364,654.981925,13.041592,11.142414
min,6.000000,7.000000,9.000000,500.000000,0.000000,1984.000000
25%,15.000000,17.000000,20.000000,1900.000000,0.000000,1991.000000
50%,17.000000,20.000000,24.000000,2350.000000,0.000000,2002.000000
75%,20.000000,23.000000,28.000000,2700.000000,0.000000,2011.000000
max,150.000000,136.000000,124.000000,7400.000000,370.000000,2020.000000

In [12]:
# chaining
(autos
 [cols]
 .select_dtypes(int)
 .describe()
)

,city08,comb08,highway08,fuelCost08,range,year
count,41144.000000,41144.000000,41144.000000,41144.000000,41144.000000,41144.000000
mean,18.369045,20.616396,24.504667,2362.335942,0.793506,2001.535266
std,7.905886,7.674535,7.730364,654.981925,13.041592,11.142414
min,6.000000,7.000000,9.000000,500.000000,0.000000,1984.000000
25%,15.000000,17.000000,20.000000,1900.000000,0.000000,1991.000000
50%,17.000000,20.000000,24.000000,2350.000000,0.000000,2002.000000
75%,20.000000,23.000000,28.000000,2700.000000,0.000000,2011.000000
max,150.000000,136.000000,124.000000,7400.000000,370.000000,2020.000000

In [13]:
# can comb08 be an int8?
np.iinfo(np.int8)

iinfo(min=-128, max=127, dtype=int8)

In [14]:
np.iinfo(np.int16)

iinfo(min=-32768, max=32767, dtype=int16)

In [15]:
# chaining 
(autos
 [cols]
 .astype({'highway08': 'int8', 'city08': 'int16', 'comb08': 'int16'})
 .select_dtypes([int, 'int8'])
 .describe()
)

          highway08    fuelCost08         range          year
count  41144.000000  41144.000000  41144.000000  41144.000000
mean      24.504667   2362.335942      0.793506   2001.535266
std        7.730364    654.981925     13.041592     11.142414
min        9.000000    500.000000      0.000000   1984.000000
25%       20.000000   1900.000000      0.000000   1991.000000
50%       24.000000   2350.000000      0.000000   2002.000000
75%       28.000000   2700.000000      0.000000   2011.000000
max      124.000000   7400.000000    370.000000   2020.000000

In [16]:
# chaining 
# use 'integer' so see all int-like columns
(autos
 [cols]
 .astype({'highway08': 'int8', 'city08': 'int16', 'comb08': 'int16', 'fuelCost08': 'int16',
         'range': 'int16', 'year': 'int16'})
 .select_dtypes(['integer'])
 .describe()
)

,city08,comb08,highway08,fuelCost08,range,year
count,41144.000000,41144.000000,41144.000000,41144.000000,41144.000000,41144.000000
mean,18.369045,20.616396,24.504667,2362.335942,0.793506,2001.535266
std,7.905886,7.674535,7.730364,654.981925,13.041592,11.142414
min,6.000000,7.000000,9.000000,500.000000,0.000000,1984.000000
25%,15.000000,17.000000,20.000000,1900.000000,0.000000,1991.000000
50%,17.000000,20.000000,24.000000,2350.000000,0.000000,2002.000000
75%,20.000000,23.000000,28.000000,2700.000000,0.000000,2011.000000
max,150.000000,136.000000,124.000000,7400.000000,370.000000,2020.000000

In [17]:
(autos
 [cols]
 .astype({'highway08': 'int8', 'city08': 'int16', 'comb08': 'int16', 'fuelCost08': 'int16',
         'range': 'int16', 'year': 'int16'})
 .memory_usage(deep=True)
 .sum()
)

18124995

# Floats

In [18]:
(autos
 [cols]
 .select_dtypes('float')
)

       cylinders  displ
0            4.0    2.0
1           12.0    4.9
2            4.0    2.2
3            8.0    5.2
4            4.0    2.2
5            4.0    1.8
6            4.0    1.8
7            4.0    1.6
8            4.0    1.6
9            4.0    1.8
...          ...    ...
41134        4.0    2.1
41135        4.0    1.9
41136        4.0    1.9
41137        4.0    1.9
41138        4.0    1.9
41139        4.0    2.2
41140        4.0    2.2
41141        4.0    2.2
41142        4.0    2.2
41143        4.0    2.2

[41144 rows x 2 columns]

In [19]:
# cylinders lools int-like
autos.cylinders.describe()

count    40938.000000
mean         5.717084
std          1.755517
min          2.000000
25%          4.000000
50%          6.000000
75%          6.000000
max         16.000000
Name: cylinders, dtype: float64

In [20]:
# missing values
autos.cylinders.value_counts(dropna=False)

4.0     15938
6.0     14284
8.0      8801
5.0       771
12.0      626
3.0       279
NaN       206
10.0      170
2.0        59
16.0       10
Name: cylinders, dtype: int64

In [21]:
# what are they missing?
(autos
 [cols]
 .query('cylinders.isna()')
)

,city08,comb08,highway08,cylinders,displ,drive,eng_dscr,fuelCost08,make,model,trany,range,createdOn,year
7138,81,85,91,NaN,NaN,NaN,NaN,800,Nissan,Altra EV,NaN,90,Tue Jan 01 00:00:00 EST 2013,2000
7139,81,72,64,NaN,NaN,2-Wheel Drive,NaN,900,Toyota,RAV4 EV,NaN,88,Tue Jan 01 00:00:00 EST 2013,2000
8143,81,72,64,NaN,NaN,2-Wheel Drive,NaN,900,Toyota,RAV4 EV,NaN,88,Tue Jan 01 00:00:00 EST 2013,2001
8144,74,65,58,NaN,NaN,NaN,NaN,1000,Ford,Th!nk,NaN,29,Tue Jan 01 00:00:00 EST 2013,2001
8146,45,39,33,NaN,NaN,2-Wheel Drive,NaN,1700,Ford,Explorer USPS Electric,NaN,38,Tue Jan 01 00:00:00 EST 2013,2001
8147,84,75,66,NaN,NaN,NaN,NaN,900,Nissan,Hyper-Mini,NaN,33,Tue Jan 01 00:00:00 EST 2013,2001
9212,87,78,69,NaN,NaN,2-Wheel Drive,NaN,850,Toyota,RAV4 EV,NaN,95,Tue Jan 01 00:00:00 EST 2013,2002
9213,45,39,33,NaN,NaN,2-Wheel Drive,NaN,1700,Ford,Explorer USPS Electric,NaN,38,Tue Jan 01 00:00:00 EST 2013,2002
10329,87,78,69,NaN,NaN,2-Wheel Drive,NaN,850,Toyota,RAV4 EV,NaN,95,Tue Jan 01 00:00:00 EST 2013,2003
21413,22,24,28,NaN,NaN,4-Wheel Drive,NaN,1750,Subaru,RX Turbo,Manual 5-spd,0,Tue Jan 01 00:00:00 EST 2013,1985
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34407,73,72,71,NaN,NaN,Front-Wheel Drive,NaN,900,BYD,e6,Automatic (A1),187,Wed Mar 13 00:00:00 EDT 2019,2019
34408,118,108,97,NaN,NaN,Front-Wheel Drive,NaN,600,Nissan,Leaf (62 kW-hr battery pack),Automatic (A1),226,Wed Mar 13 00:00:00 EDT 2019,2019
34409,114,104,94,NaN,NaN,Front-Wheel Drive,NaN,650,Nissan,Leaf SV/SL (62 kW-hr battery pack),Automatic (A1),215,Wed Mar 13 00:00:00 EDT 2019,2019
34538,74,74,73,NaN,NaN,All-Wheel Drive,NaN,900,Audi,e-tron,Automatic (A1),204,Tue Apr 16 00:00:00 EDT 2019,2019
34561,80,76,72,NaN,NaN,4-Wheel Drive,NaN,850,Jaguar,I-Pace,Automatic (A1),234,Thu May 02 00:00:00 EDT 2019,2020
34563,138,131,124,NaN,NaN,Rear-Wheel Drive,NaN,500,Tesla,Model 3 Standard Range,Automatic (A1),220,Thu May 02 00:00:00 EDT 2019,2019
34564,140,133,124,NaN,NaN,Rear-Wheel Drive,NaN,500,Tesla,Model 3 Standard Range Plus,Automatic (A1),240,Thu May 02 00:00:00 EDT 2019,2019
34565,115,111,107,NaN,NaN,All-Wheel Drive,NaN,600,Tesla,Model S Long Range,Automatic (A1),370,Thu May 02 00:00:00 EDT 2019,2019
34566,104,104,104,NaN,NaN,All-Wheel Drive,NaN,650,Tesla,"Model S Performance (19"" Wheels)",Automatic (A1),345,Thu May 02 00:00:00 EDT 2019,2019
34567,98,97,96,NaN,NaN,All-Wheel Drive,NaN,700,Tesla,"Model S Performance (21"" Wheels)",Automatic (A1),325,Thu May 02 00:00:00 EDT 2019,2019

In [22]:
# add cylinders and displ columns
(autos
 [cols]
 .assign(cylinders=autos.cylinders.fillna(0).astype('int8'),
        displ=autos.displ.fillna(0))
 .astype({'highway08': 'int8', 'city08': 'int16', 'comb08': 'int16', 'fuelCost08': 'int16',
         'range': 'int16', 'year': 'int16'})
 .describe()
)

,city08,comb08,highway08,cylinders,displ,fuelCost08,range,year
count,41144.000000,41144.000000,41144.000000,41144.000000,41144.000000,41144.000000,41144.000000,41144.000000
mean,18.369045,20.616396,24.504667,5.688460,3.277904,2362.335942,0.793506,2001.535266
std,7.905886,7.674535,7.730364,1.797009,1.373415,654.981925,13.041592,11.142414
min,6.000000,7.000000,9.000000,0.000000,0.000000,500.000000,0.000000,1984.000000
25%,15.000000,17.000000,20.000000,4.000000,2.200000,1900.000000,0.000000,1991.000000
50%,17.000000,20.000000,24.000000,6.000000,3.000000,2350.000000,0.000000,2002.000000
75%,20.000000,23.000000,28.000000,6.000000,4.300000,2700.000000,0.000000,2011.000000
max,150.000000,136.000000,124.000000,16.000000,8.400000,7400.000000,370.000000,2020.000000

In [23]:
autos[cols].describe()

,city08,comb08,highway08,cylinders,displ,fuelCost08,range,year
count,41144.000000,41144.000000,41144.000000,40938.000000,40940.000000,41144.000000,41144.000000,41144.000000
mean,18.369045,20.616396,24.504667,5.717084,3.294238,2362.335942,0.793506,2001.535266
std,7.905886,7.674535,7.730364,1.755517,1.357151,654.981925,13.041592,11.142414
min,6.000000,7.000000,9.000000,2.000000,0.000000,500.000000,0.000000,1984.000000
25%,15.000000,17.000000,20.000000,4.000000,2.200000,1900.000000,0.000000,1991.000000
50%,17.000000,20.000000,24.000000,6.000000,3.000000,2350.000000,0.000000,2002.000000
75%,20.000000,23.000000,28.000000,6.000000,4.300000,2700.000000,0.000000,2011.000000
max,150.000000,136.000000,124.000000,16.000000,8.400000,7400.000000,370.000000,2020.000000

In [24]:
# use this to inspect float size
np.finfo(np.float16)

finfo(resolution=0.001, min=-6.55040e+04, max=6.55040e+04, dtype=float16)

In [25]:
# chaining - convert displ to float16
(autos
 [cols]
 .assign(cylinders=autos.cylinders.fillna(0).astype('int8'),
        displ=autos.displ.fillna(0).astype('float16'))
 .astype({'highway08': 'int8', 'city08': 'int16', 'comb08': 'int16', 'fuelCost08': 'int16',
         'range': 'int16', 'year': 'int16'})
)

,city08,comb08,highway08,cylinders,displ,drive,eng_dscr,fuelCost08,make,model,trany,range,createdOn,year
0,19,21,25,4,2.000000,Rear-Wheel Drive,(FFS),2000,Alfa Romeo,Spider Veloce 2000,Manual 5-spd,0,Tue Jan 01 00:00:00 EST 2013,1985
1,9,11,14,12,4.898438,Rear-Wheel Drive,(GUZZLER),3850,Ferrari,Testarossa,Manual 5-spd,0,Tue Jan 01 00:00:00 EST 2013,1985
2,23,27,33,4,2.199219,Front-Wheel Drive,(FFS),1550,Dodge,Charger,Manual 5-spd,0,Tue Jan 01 00:00:00 EST 2013,1985
3,10,11,12,8,5.199219,Rear-Wheel Drive,NaN,3850,Dodge,B150/B250 Wagon 2WD,Automatic 3-spd,0,Tue Jan 01 00:00:00 EST 2013,1985
4,17,19,23,4,2.199219,4-Wheel or All-Wheel Drive,"(FFS,TRBO)",2700,Subaru,Legacy AWD Turbo,Manual 5-spd,0,Tue Jan 01 00:00:00 EST 2013,1993
5,21,22,24,4,1.799805,Front-Wheel Drive,(FFS),1900,Subaru,Loyale,Automatic 3-spd,0,Tue Jan 01 00:00:00 EST 2013,1993
6,22,25,29,4,1.799805,Front-Wheel Drive,(FFS),1700,Subaru,Loyale,Manual 5-spd,0,Tue Jan 01 00:00:00 EST 2013,1993
7,23,24,26,4,1.599609,Front-Wheel Drive,(FFS),1750,Toyota,Corolla,Automatic 3-spd,0,Tue Jan 01 00:00:00 EST 2013,1993
8,23,26,31,4,1.599609,Front-Wheel Drive,(FFS),1600,Toyota,Corolla,Manual 5-spd,0,Tue Jan 01 00:00:00 EST 2013,1993
9,23,25,30,4,1.799805,Front-Wheel Drive,(FFS),1700,Toyota,Corolla,Automatic 4-spd,0,Tue Jan 01 00:00:00 EST 2013,1993
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41134,18,20,24,4,2.099609,Front-Wheel Drive,(FFS),2100,Saab,900,Manual 5-spd,0,Tue Jan 01 00:00:00 EST 2013,1993
41135,23,26,33,4,1.900391,Front-Wheel Drive,(TBI) (FFS),1600,Saturn,SL,Automatic 4-spd,0,Tue Jan 01 00:00:00 EST 2013,1993
41136,21,24,30,4,1.900391,Front-Wheel Drive,(MFI) (FFS),1750,Saturn,SL,Automatic 4-spd,0,Tue Jan 01 00:00:00 EST 2013,1993
41137,24,28,33,4,1.900391,Front-Wheel Drive,(TBI) (FFS),1500,Saturn,SL,Manual 5-spd,0,Tue Jan 01 00:00:00 EST 2013,1993
41138,21,25,32,4,1.900391,Front-Wheel Drive,(MFI) (FFS),1700,Saturn,SL,Manual 5-spd,0,Tue Jan 01 00:00:00 EST 2013,1993
41139,19,22,26,4,2.199219,Front-Wheel Drive,(FFS),1900,Subaru,Legacy,Automatic 4-spd,0,Tue Jan 01 00:00:00 EST 2013,1993
41140,20,23,28,4,2.199219,Front-Wheel Drive,(FFS),1850,Subaru,Legacy,Manual 5-spd,0,Tue Jan 01 00:00:00 EST 2013,1993
41141,18,21,24,4,2.199219,4-Wheel or All-Wheel Drive,(FFS),2000,Subaru,Legacy AWD,Automatic 4-spd,0,Tue Jan 01 00:00:00 EST 2013,1993
41142,18,21,24,4,2.199219,4-Wheel or All-Wheel Drive,(FFS),2000,Subaru,Legacy AWD,Manual 5-spd,0,Tue Jan 01 00:00:00 EST 2013,1993
41143,16,18,21,4,2.199219,4-Wheel or All-Wheel Drive,"(FFS,TRBO)",2900,Subaru,Legacy AWD Turbo,Automatic 4-spd,0,Tue Jan 01 00:00:00 EST 2013,1993

In [26]:
# memory usage
(autos
 #[cols]
 .loc[:, cols]
 .assign(cylinders=autos.cylinders.fillna(0).astype('int8'),
        displ=autos.displ.fillna(0).astype('float16'))
 .astype({'highway08': 'int8', 'city08': 'int16', 'comb08': 'int16', 'fuelCost08': 'int16',
         'range': 'int16', 'year': 'int16'})
 .memory_usage(deep=True)
 .sum()
)

17590123

# Objects

In [27]:
(autos
 [cols]
 .select_dtypes(object)
)

,drive,eng_dscr,make,model,trany,createdOn
0,Rear-Wheel Drive,(FFS),Alfa Romeo,Spider Veloce 2000,Manual 5-spd,Tue Jan 01 00:00:00 EST 2013
1,Rear-Wheel Drive,(GUZZLER),Ferrari,Testarossa,Manual 5-spd,Tue Jan 01 00:00:00 EST 2013
2,Front-Wheel Drive,(FFS),Dodge,Charger,Manual 5-spd,Tue Jan 01 00:00:00 EST 2013
3,Rear-Wheel Drive,NaN,Dodge,B150/B250 Wagon 2WD,Automatic 3-spd,Tue Jan 01 00:00:00 EST 2013
4,4-Wheel or All-Wheel Drive,"(FFS,TRBO)",Subaru,Legacy AWD Turbo,Manual 5-spd,Tue Jan 01 00:00:00 EST 2013
5,Front-Wheel Drive,(FFS),Subaru,Loyale,Automatic 3-spd,Tue Jan 01 00:00:00 EST 2013
6,Front-Wheel Drive,(FFS),Subaru,Loyale,Manual 5-spd,Tue Jan 01 00:00:00 EST 2013
7,Front-Wheel Drive,(FFS),Toyota,Corolla,Automatic 3-spd,Tue Jan 01 00:00:00 EST 2013
8,Front-Wheel Drive,(FFS),Toyota,Corolla,Manual 5-spd,Tue Jan 01 00:00:00 EST 2013
9,Front-Wheel Drive,(FFS),Toyota,Corolla,Automatic 4-spd,Tue Jan 01 00:00:00 EST 2013
...,...,...,...,...,...,...
41134,Front-Wheel Drive,(FFS),Saab,900,Manual 5-spd,Tue Jan 01 00:00:00 EST 2013
41135,Front-Wheel Drive,(TBI) (FFS),Saturn,SL,Automatic 4-spd,Tue Jan 01 00:00:00 EST 2013
41136,Front-Wheel Drive,(MFI) (FFS),Saturn,SL,Automatic 4-spd,Tue Jan 01 00:00:00 EST 2013
41137,Front-Wheel Drive,(TBI) (FFS),Saturn,SL,Manual 5-spd,Tue Jan 01 00:00:00 EST 2013
41138,Front-Wheel Drive,(MFI) (FFS),Saturn,SL,Manual 5-spd,Tue Jan 01 00:00:00 EST 2013
41139,Front-Wheel Drive,(FFS),Subaru,Legacy,Automatic 4-spd,Tue Jan 01 00:00:00 EST 2013
41140,Front-Wheel Drive,(FFS),Subaru,Legacy,Manual 5-spd,Tue Jan 01 00:00:00 EST 2013
41141,4-Wheel or All-Wheel Drive,(FFS),Subaru,Legacy AWD,Automatic 4-spd,Tue Jan 01 00:00:00 EST 2013
41142,4-Wheel or All-Wheel Drive,(FFS),Subaru,Legacy AWD,Manual 5-spd,Tue Jan 01 00:00:00 EST 2013
41143,4-Wheel or All-Wheel Drive,"(FFS,TRBO)",Subaru,Legacy AWD Turbo,Automatic 4-spd,Tue Jan 01 00:00:00 EST 2013

In [28]:
# looks categorical
autos.drive.value_counts(dropna=False)

Front-Wheel Drive             14236
Rear-Wheel Drive              13831
4-Wheel or All-Wheel Drive     6648
All-Wheel Drive                3015
4-Wheel Drive                  1460
NaN                            1189
2-Wheel Drive                   507
Part-time 4-Wheel Drive         258
Name: drive, dtype: int64

In [29]:
# what are the values missing for drive?
(autos
 [cols]
 .query('drive.isna()')
)

,city08,comb08,highway08,cylinders,displ,drive,eng_dscr,fuelCost08,make,model,trany,range,createdOn,year
7138,81,85,91,NaN,NaN,NaN,NaN,800,Nissan,Altra EV,NaN,90,Tue Jan 01 00:00:00 EST 2013,2000
8144,74,65,58,NaN,NaN,NaN,NaN,1000,Ford,Th!nk,NaN,29,Tue Jan 01 00:00:00 EST 2013,2001
8147,84,75,66,NaN,NaN,NaN,NaN,900,Nissan,Hyper-Mini,NaN,33,Tue Jan 01 00:00:00 EST 2013,2001
18217,18,21,25,4.0,2.0,NaN,(FFS),2000,Alfa Romeo,Spider Veloce 2000,Manual 5-spd,0,Tue Jan 01 00:00:00 EST 2013,1984
18218,20,22,26,4.0,1.5,NaN,(FFS),1900,Bertone,X1/9,Manual 5-spd,0,Tue Jan 01 00:00:00 EST 2013,1984
18219,13,15,20,8.0,5.7,NaN,(350 V8) (FFS),2800,Chevrolet,Corvette,Automatic 4-spd,0,Tue Jan 01 00:00:00 EST 2013,1984
18220,13,15,20,8.0,5.7,NaN,(350 V8) (FFS),2800,Chevrolet,Corvette,Manual 4-spd,0,Tue Jan 01 00:00:00 EST 2013,1984
18221,15,17,20,6.0,3.0,NaN,"(FFS,TRBO)",2500,Nissan,300ZX,Automatic 4-spd,0,Tue Jan 01 00:00:00 EST 2013,1984
18222,16,18,20,6.0,3.0,NaN,(FFS),2350,Nissan,300ZX,Automatic 4-spd,0,Tue Jan 01 00:00:00 EST 2013,1984
18223,16,18,22,6.0,3.0,NaN,"(FFS,TRBO)",2350,Nissan,300ZX,Manual 5-spd,0,Tue Jan 01 00:00:00 EST 2013,1984
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20063,13,15,19,8.0,5.0,NaN,(FFS) CA model,2800,Mercury,Grand Marquis Wagon,Automatic 4-spd,0,Tue Jan 01 00:00:00 EST 2013,1984
20064,13,15,20,8.0,5.0,NaN,(GM-OLDS) CA model,2800,Oldsmobile,Custom Cruiser Wagon,Automatic 4-spd,0,Tue Jan 01 00:00:00 EST 2013,1984
20065,14,16,19,8.0,5.0,NaN,(GM-CHEV) CA model,2650,Pontiac,Parisienne Wagon,Automatic 4-spd,0,Tue Jan 01 00:00:00 EST 2013,1984
20387,14,14,15,4.0,2.4,NaN,(FFS) CA model,3000,Nissan,Pickup Cab Chassis,Manual 5-spd,0,Tue Jan 01 00:00:00 EST 2013,1984
21129,14,16,21,8.0,3.5,NaN,"GUZZLER FFS,TURBO",3250,Lotus,Esprit V8,Manual 5-spd,0,Tue Jan 01 00:00:00 EST 2013,2002
23029,79,85,94,NaN,NaN,NaN,Lead Acid,800,GMC,EV1,Automatic (A1),55,Tue Jan 01 00:00:00 EST 2013,1999
23030,35,37,39,NaN,NaN,NaN,NiMH,1750,GMC,EV1,Automatic (A1),105,Tue Jan 01 00:00:00 EST 2013,1999
23032,49,48,46,NaN,NaN,NaN,NaN,1400,Honda,EV Plus,Automatic (A1),81,Tue Jan 01 00:00:00 EST 2013,1999
23037,49,48,46,NaN,NaN,NaN,NaN,1400,Honda,EV Plus,Automatic (A1),81,Tue Jan 01 00:00:00 EST 2013,1998
23040,102,98,94,NaN,NaN,NaN,NaN,650,MINI,MiniE,Automatic (A1),100,Tue Jan 01 00:00:00 EST 2013,2008

In [30]:
(autos
[cols]
.groupby('year')
.drive
.nunique())

year
1984    3
1985    4
1986    4
1987    3
1988    3
1989    3
1990    3
1991    3
1992    3
1993    3
1994    3
1995    4
1996    3
1997    4
1998    4
1999    4
2000    4
2001    4
2002    4
2003    4
2004    4
2005    4
2006    4
2007    4
2008    3
2009    4
2010    6
2011    5
2012    5
2013    5
2014    5
2015    5
2016    5
2017    5
2018    5
2019    5
2020    5
Name: drive, dtype: int64

In [31]:
# drive and make (in .astype) to category
(autos
[cols]
.assign(cylinders=autos.cylinders.fillna(0).astype('int8'),
        displ=autos.displ.fillna(0).astype('float16'), 
       drive=autos.drive.fillna('Other').astype('category'))
 .astype({'highway08': 'int8', 'city08': 'int16', 'comb08': 'int16', 'fuelCost08': 'int16',
         'range': 'int16', 'year': 'int16', 'make': 'category'})
 .memory_usage(deep=True)
 .sum()
)

12093275

In [32]:
# inspect trany
# looks like it has two pieces of information embedded in column
(autos.trany.value_counts(dropna=False))

Automatic 4-spd                     11047
Manual 5-spd                         8361
Automatic 3-spd                      3151
Automatic (S6)                       3106
Manual 6-spd                         2757
Automatic 5-spd                      2203
Automatic (S8)                       1665
Automatic 6-spd                      1619
Manual 4-spd                         1483
Automatic (S5)                        833
Automatic (variable gear ratios)      826
Automatic 7-spd                       724
Automatic 8-spd                       433
Automatic (AM-S7)                     424
Automatic (S7)                        327
Automatic 9-spd                       293
Automatic (AM7)                       245
Automatic (S4)                        233
Automatic (AV-S6)                     208
Automatic (A1)                        201
Automatic (AM6)                       151
Automatic (AV-S7)                     139
Automatic (S10)                       124
Automatic (AM-S6)                     116
Manual 7-spd                          114
Automatic (S9)                         86
Manual 3-spd                           77
Automatic (AM-S8)                      60
Automatic (AV-S8)                      47
Automatic 10-spd                       25
Manual 4-spd Doubled                   17
Automatic (AM5)                        14
NaN                                    11
Automatic (AV-S10)                     11
Automatic (AM8)                         6
Automatic (AM-S9)                       3
Automatic (L3)                          2
Automatic (L4)                          2
Name: trany, dtype: int64

In [33]:
# add automatic, speed from trany, then drop trany
(autos
 [cols]
 .assign(cylinders=autos.cylinders.fillna(0).astype('int8'),
         displ=autos.displ.fillna(0).astype('float16'),\
         drive=autos.drive.fillna('Other').astype('category'),
         automatic=autos.trany.str.contains('Auto'),
         speeds=autos.trany.str.extract(r'(\d)+').fillna('20').astype('int8'))
 .astype({'highway08': 'int8', 'city08': 'int16', 'comb08': 'int16', 'fuelCost08': 'int16',
         'range': 'int16', 'year': 'int16', 'make': 'category'})
 .drop(columns=['trany'])
 .memory_usage(deep=True)
 .sum()
)

10631047

# Dates

In [35]:
# Add CreatedOn
(autos
 [cols]
 .assign(cylinders=autos.cylinders.fillna(0).astype('int8'),
         displ=autos.displ.fillna(0).astype('float16'),\
         drive=autos.drive.fillna('Other').astype('category'),
         automatic=autos.trany.str.contains('Auto'),
         speeds=autos.trany.str.extract(r'(\d)+').fillna('20').astype('int8'),
         createdOn=pd.to_datetime(autos.createdOn).dt.tz_localize('Europe/Moscow'))
 .astype({'highway08': 'int8', 'city08': 'int16', 'comb08': 'int16', 'fuelCost08': 'int16',
         'range': 'int16', 'year': 'int16', 'make': 'category'})
 .drop(columns=['trany'])
 .memory_usage(deep=True)
 .sum()
)

C:\Users\Goncharuk.SM\AppData\Roaming\Python\Python310\site-packages\dateutil\parser\_parser.py:1207: UnknownTimezoneWarning: tzname EST identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  warnings.warn("tzname {tzname} identified but not understood.  "
C:\Users\Goncharuk.SM\AppData\Roaming\Python\Python310\site-packages\dateutil\parser\_parser.py:1207: UnknownTimezoneWarning: tzname EDT identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  warnings.warn("tzname {tzname} identified but not understood.  "

7462959

In [36]:
# Python does not like EST/EDT
autos[cols].createdOn

0        Tue Jan 01 00:00:00 EST 2013
1        Tue Jan 01 00:00:00 EST 2013
2        Tue Jan 01 00:00:00 EST 2013
3        Tue Jan 01 00:00:00 EST 2013
4        Tue Jan 01 00:00:00 EST 2013
5        Tue Jan 01 00:00:00 EST 2013
6        Tue Jan 01 00:00:00 EST 2013
7        Tue Jan 01 00:00:00 EST 2013
8        Tue Jan 01 00:00:00 EST 2013
9        Tue Jan 01 00:00:00 EST 2013
                     ...
41134    Tue Jan 01 00:00:00 EST 2013
41135    Tue Jan 01 00:00:00 EST 2013
41136    Tue Jan 01 00:00:00 EST 2013
41137    Tue Jan 01 00:00:00 EST 2013
41138    Tue Jan 01 00:00:00 EST 2013
41139    Tue Jan 01 00:00:00 EST 2013
41140    Tue Jan 01 00:00:00 EST 2013
41141    Tue Jan 01 00:00:00 EST 2013
41142    Tue Jan 01 00:00:00 EST 2013
41143    Tue Jan 01 00:00:00 EST 2013
Name: createdOn, Length: 41144, dtype: object

In [39]:
(autos
 [cols]
 .assign(cylinders=autos.cylinders.fillna(0).astype('int8'),
         displ=autos.displ.fillna(0).astype('float16'),\
         drive=autos.drive.fillna('Other').astype('category'),
         automatic=autos.trany.str.contains('Auto'),
         speeds=autos.trany.str.extract(r'(\d)+').fillna('20').astype('int8'),
         createdOn=pd.to_datetime(autos.createdOn.replace({'EST': '-07:00', 'EDT': '-06:00'}, regex=True)))
 .astype({'highway08': 'int8', 'city08': 'int16', 'comb08': 'int16', 'fuelCost08': 'int16',
         'range': 'int16', 'year': 'int16', 'make': 'category'})
 .drop(columns=['trany'])
 .eng_dscr
 .value_counts(dropna=False)
)

NaN                                 16153
(FFS)                                8827
SIDI                                 5526
(FFS) CA model                        926
(FFS)      (MPFI)                     734
FFV                                   701
(FFS,TRBO)                            666
(350 V8) (FFS)                        411
(GUZZLER)  (FFS)                      366
SOHC                                  354
                                    ...
B234L/R4 (FFS,TRBO)                     1
GUZZLER V8 FFS,TURBO                    1
4.6M FFS MPFI                           1
CNG FFS                                 1
POLICE FFS MPFI                         1
B308E5 FFS,TURBO                        1
5.4E-R FFS MPFI                         1
V-6 FFS                                 1
(GUZZLER)  (FFS)      (S-CHARGE)        1
R-ENG (FFS,TRBO)                        1
Name: eng_dscr, Length: 558, dtype: int64

In [42]:
# Add ffs (Feedback fuel system), drop eng_descr
(autos
 [cols]
 .assign(cylinders=autos.cylinders.fillna(0).astype('int8'),
         displ=autos.displ.fillna(0).astype('float16'),\
         drive=autos.drive.fillna('Other').astype('category'),
         automatic=autos.trany.str.contains('Auto'),
         speeds=autos.trany.str.extract(r'(\d)+').fillna('20').astype('int8'),
         createdOn=pd.to_datetime(autos.createdOn.replace({'EST': '-07:00', 'EDT': '-06:00'}, regex=True)),
         ffs=autos.eng_dscr.str.contains('FFS'))
 .astype({'highway08': 'int8', 'city08': 'int16', 'comb08': 'int16', 'fuelCost08': 'int16',
         'range': 'int16', 'year': 'int16', 'make': 'category'})
 .drop(columns=['trany', 'eng_dscr'])
 .memory_usage(deep=True)
 .sum()
)

8676214

In [44]:
# a glorious function --> add it to the cell next to original data in the begining of the notebook
def tweak_autos(autos):
    cols = ['city08', 'comb08', 'highway08', 'cylinders', 'displ', 'drive', 'eng_dscr', 
        'fuelCost08', 'make', 'model', 'trany', 'range', 'createdOn', 'year']
    return (autos
 [cols]
 .assign(cylinders=autos.cylinders.fillna(0).astype('int8'),
         displ=autos.displ.fillna(0).astype('float16'),\
         drive=autos.drive.fillna('Other').astype('category'),
         automatic=autos.trany.str.contains('Auto'),
         speeds=autos.trany.str.extract(r'(\d)+').fillna('20').astype('int8'),
         createdOn=pd.to_datetime(autos.createdOn.replace({'EST': '-07:00', 'EDT': '-06:00'}, regex=True)),
         ffs=autos.eng_dscr.str.contains('FFS'))
 .astype({'highway08': 'int8', 'city08': 'int16', 'comb08': 'int16', 'fuelCost08': 'int16',
         'range': 'int16', 'year': 'int16', 'make': 'category'})
 .drop(columns=['trany', 'eng_dscr'])
)

tweak_autos(autos)

,city08,comb08,highway08,cylinders,displ,drive,fuelCost08,make,model,range,createdOn,year,automatic,speeds,ffs
0,19,21,25,4,2.000000,Rear-Wheel Drive,2000,Alfa Romeo,Spider Veloce 2000,0,2013-01-01 00:00:00-07:00,1985,False,5,True
1,9,11,14,12,4.898438,Rear-Wheel Drive,3850,Ferrari,Testarossa,0,2013-01-01 00:00:00-07:00,1985,False,5,False
2,23,27,33,4,2.199219,Front-Wheel Drive,1550,Dodge,Charger,0,2013-01-01 00:00:00-07:00,1985,False,5,True
3,10,11,12,8,5.199219,Rear-Wheel Drive,3850,Dodge,B150/B250 Wagon 2WD,0,2013-01-01 00:00:00-07:00,1985,True,3,NaN
4,17,19,23,4,2.199219,4-Wheel or All-Wheel Drive,2700,Subaru,Legacy AWD Turbo,0,2013-01-01 00:00:00-07:00,1993,False,5,True
5,21,22,24,4,1.799805,Front-Wheel Drive,1900,Subaru,Loyale,0,2013-01-01 00:00:00-07:00,1993,True,3,True
6,22,25,29,4,1.799805,Front-Wheel Drive,1700,Subaru,Loyale,0,2013-01-01 00:00:00-07:00,1993,False,5,True
7,23,24,26,4,1.599609,Front-Wheel Drive,1750,Toyota,Corolla,0,2013-01-01 00:00:00-07:00,1993,True,3,True
8,23,26,31,4,1.599609,Front-Wheel Drive,1600,Toyota,Corolla,0,2013-01-01 00:00:00-07:00,1993,False,5,True
9,23,25,30,4,1.799805,Front-Wheel Drive,1700,Toyota,Corolla,0,2013-01-01 00:00:00-07:00,1993,True,4,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41134,18,20,24,4,2.099609,Front-Wheel Drive,2100,Saab,900,0,2013-01-01 00:00:00-07:00,1993,False,5,True
41135,23,26,33,4,1.900391,Front-Wheel Drive,1600,Saturn,SL,0,2013-01-01 00:00:00-07:00,1993,True,4,True
41136,21,24,30,4,1.900391,Front-Wheel Drive,1750,Saturn,SL,0,2013-01-01 00:00:00-07:00,1993,True,4,True
41137,24,28,33,4,1.900391,Front-Wheel Drive,1500,Saturn,SL,0,2013-01-01 00:00:00-07:00,1993,False,5,True
41138,21,25,32,4,1.900391,Front-Wheel Drive,1700,Saturn,SL,0,2013-01-01 00:00:00-07:00,1993,False,5,True
41139,19,22,26,4,2.199219,Front-Wheel Drive,1900,Subaru,Legacy,0,2013-01-01 00:00:00-07:00,1993,True,4,True
41140,20,23,28,4,2.199219,Front-Wheel Drive,1850,Subaru,Legacy,0,2013-01-01 00:00:00-07:00,1993,False,5,True
41141,18,21,24,4,2.199219,4-Wheel or All-Wheel Drive,2000,Subaru,Legacy AWD,0,2013-01-01 00:00:00-07:00,1993,True,4,True
41142,18,21,24,4,2.199219,4-Wheel or All-Wheel Drive,2000,Subaru,Legacy AWD,0,2013-01-01 00:00:00-07:00,1993,False,5,True
41143,16,18,21,4,2.199219,4-Wheel or All-Wheel Drive,2900,Subaru,Legacy AWD Turbo,0,2013-01-01 00:00:00-07:00,1993,True,4,True

# Chain

Chaining is also called "flow" programming. Rather than making intermediate veriables, just leverage the fact that most operations 
return a new object and work on that.

The chain should read like a recepie of ordered steps.

(BTW, this is acrually what we did above)

Hint: Leverage .pipe if you can't find a way to chain

In [47]:
# Easy to debug
# - assing to var (df3)
# - comment out
# - pipe to display

from IPython.display import display

def get_var(df, var_name):
    globals()[var_name] = df
    return df

def tweak_autos(autos):
    return (autos
     [cols]
      # crate var
     .pipe(get_var, 'df3')
     .assign(cylinders=autos.cylinders.fillna(0).astype('int8'),
             displ=autos.displ.fillna(0).astype('float16'),\
             drive=autos.drive.fillna('Other').astype('category'),
             automatic=autos.trany.str.contains('Auto'),
             speeds=autos.trany.str.extract(r'(\d)+').fillna('20').astype('int8'),
             createdOn=pd.to_datetime(autos.createdOn.replace({'EST': '-07:00', 'EDT': '-06:00'}, regex=True)),
             ffs=autos.eng_dscr.str.contains('FFS'))
     # debug pipe
     .pipe(lambda df: display(df) or df)
     .astype({'highway08': 'int8', 'city08': 'int16', 'comb08': 'int16', 'fuelCost08': 'int16',
             'range': 'int16', 'year': 'int16', 'make': 'category'})
     .drop(columns=['trany', 'eng_dscr'])
    )

tweak_autos(autos)

,city08,comb08,highway08,cylinders,displ,drive,eng_dscr,fuelCost08,make,model,trany,range,createdOn,year,automatic,speeds,ffs
0,19,21,25,4,2.000000,Rear-Wheel Drive,(FFS),2000,Alfa Romeo,Spider Veloce 2000,Manual 5-spd,0,2013-01-01 00:00:00-07:00,1985,False,5,True
1,9,11,14,12,4.898438,Rear-Wheel Drive,(GUZZLER),3850,Ferrari,Testarossa,Manual 5-spd,0,2013-01-01 00:00:00-07:00,1985,False,5,False
2,23,27,33,4,2.199219,Front-Wheel Drive,(FFS),1550,Dodge,Charger,Manual 5-spd,0,2013-01-01 00:00:00-07:00,1985,False,5,True
3,10,11,12,8,5.199219,Rear-Wheel Drive,NaN,3850,Dodge,B150/B250 Wagon 2WD,Automatic 3-spd,0,2013-01-01 00:00:00-07:00,1985,True,3,NaN
4,17,19,23,4,2.199219,4-Wheel or All-Wheel Drive,"(FFS,TRBO)",2700,Subaru,Legacy AWD Turbo,Manual 5-spd,0,2013-01-01 00:00:00-07:00,1993,False,5,True
5,21,22,24,4,1.799805,Front-Wheel Drive,(FFS),1900,Subaru,Loyale,Automatic 3-spd,0,2013-01-01 00:00:00-07:00,1993,True,3,True
6,22,25,29,4,1.799805,Front-Wheel Drive,(FFS),1700,Subaru,Loyale,Manual 5-spd,0,2013-01-01 00:00:00-07:00,1993,False,5,True
7,23,24,26,4,1.599609,Front-Wheel Drive,(FFS),1750,Toyota,Corolla,Automatic 3-spd,0,2013-01-01 00:00:00-07:00,1993,True,3,True
8,23,26,31,4,1.599609,Front-Wheel Drive,(FFS),1600,Toyota,Corolla,Manual 5-spd,0,2013-01-01 00:00:00-07:00,1993,False,5,True
9,23,25,30,4,1.799805,Front-Wheel Drive,(FFS),1700,Toyota,Corolla,Automatic 4-spd,0,2013-01-01 00:00:00-07:00,1993,True,4,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41134,18,20,24,4,2.099609,Front-Wheel Drive,(FFS),2100,Saab,900,Manual 5-spd,0,2013-01-01 00:00:00-07:00,1993,False,5,True
41135,23,26,33,4,1.900391,Front-Wheel Drive,(TBI) (FFS),1600,Saturn,SL,Automatic 4-spd,0,2013-01-01 00:00:00-07:00,1993,True,4,True
41136,21,24,30,4,1.900391,Front-Wheel Drive,(MFI) (FFS),1750,Saturn,SL,Automatic 4-spd,0,2013-01-01 00:00:00-07:00,1993,True,4,True
41137,24,28,33,4,1.900391,Front-Wheel Drive,(TBI) (FFS),1500,Saturn,SL,Manual 5-spd,0,2013-01-01 00:00:00-07:00,1993,False,5,True
41138,21,25,32,4,1.900391,Front-Wheel Drive,(MFI) (FFS),1700,Saturn,SL,Manual 5-spd,0,2013-01-01 00:00:00-07:00,1993,False,5,True
41139,19,22,26,4,2.199219,Front-Wheel Drive,(FFS),1900,Subaru,Legacy,Automatic 4-spd,0,2013-01-01 00:00:00-07:00,1993,True,4,True
41140,20,23,28,4,2.199219,Front-Wheel Drive,(FFS),1850,Subaru,Legacy,Manual 5-spd,0,2013-01-01 00:00:00-07:00,1993,False,5,True
41141,18,21,24,4,2.199219,4-Wheel or All-Wheel Drive,(FFS),2000,Subaru,Legacy AWD,Automatic 4-spd,0,2013-01-01 00:00:00-07:00,1993,True,4,True
41142,18,21,24,4,2.199219,4-Wheel or All-Wheel Drive,(FFS),2000,Subaru,Legacy AWD,Manual 5-spd,0,2013-01-01 00:00:00-07:00,1993,False,5,True
41143,16,18,21,4,2.199219,4-Wheel or All-Wheel Drive,"(FFS,TRBO)",2900,Subaru,Legacy AWD Turbo,Automatic 4-spd,0,2013-01-01 00:00:00-07:00,1993,True,4,True

,city08,comb08,highway08,cylinders,displ,drive,fuelCost08,make,model,range,createdOn,year,automatic,speeds,ffs
0,19,21,25,4,2.000000,Rear-Wheel Drive,2000,Alfa Romeo,Spider Veloce 2000,0,2013-01-01 00:00:00-07:00,1985,False,5,True
1,9,11,14,12,4.898438,Rear-Wheel Drive,3850,Ferrari,Testarossa,0,2013-01-01 00:00:00-07:00,1985,False,5,False
2,23,27,33,4,2.199219,Front-Wheel Drive,1550,Dodge,Charger,0,2013-01-01 00:00:00-07:00,1985,False,5,True
3,10,11,12,8,5.199219,Rear-Wheel Drive,3850,Dodge,B150/B250 Wagon 2WD,0,2013-01-01 00:00:00-07:00,1985,True,3,NaN
4,17,19,23,4,2.199219,4-Wheel or All-Wheel Drive,2700,Subaru,Legacy AWD Turbo,0,2013-01-01 00:00:00-07:00,1993,False,5,True
5,21,22,24,4,1.799805,Front-Wheel Drive,1900,Subaru,Loyale,0,2013-01-01 00:00:00-07:00,1993,True,3,True
6,22,25,29,4,1.799805,Front-Wheel Drive,1700,Subaru,Loyale,0,2013-01-01 00:00:00-07:00,1993,False,5,True
7,23,24,26,4,1.599609,Front-Wheel Drive,1750,Toyota,Corolla,0,2013-01-01 00:00:00-07:00,1993,True,3,True
8,23,26,31,4,1.599609,Front-Wheel Drive,1600,Toyota,Corolla,0,2013-01-01 00:00:00-07:00,1993,False,5,True
9,23,25,30,4,1.799805,Front-Wheel Drive,1700,Toyota,Corolla,0,2013-01-01 00:00:00-07:00,1993,True,4,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41134,18,20,24,4,2.099609,Front-Wheel Drive,2100,Saab,900,0,2013-01-01 00:00:00-07:00,1993,False,5,True
41135,23,26,33,4,1.900391,Front-Wheel Drive,1600,Saturn,SL,0,2013-01-01 00:00:00-07:00,1993,True,4,True
41136,21,24,30,4,1.900391,Front-Wheel Drive,1750,Saturn,SL,0,2013-01-01 00:00:00-07:00,1993,True,4,True
41137,24,28,33,4,1.900391,Front-Wheel Drive,1500,Saturn,SL,0,2013-01-01 00:00:00-07:00,1993,False,5,True
41138,21,25,32,4,1.900391,Front-Wheel Drive,1700,Saturn,SL,0,2013-01-01 00:00:00-07:00,1993,False,5,True
41139,19,22,26,4,2.199219,Front-Wheel Drive,1900,Subaru,Legacy,0,2013-01-01 00:00:00-07:00,1993,True,4,True
41140,20,23,28,4,2.199219,Front-Wheel Drive,1850,Subaru,Legacy,0,2013-01-01 00:00:00-07:00,1993,False,5,True
41141,18,21,24,4,2.199219,4-Wheel or All-Wheel Drive,2000,Subaru,Legacy AWD,0,2013-01-01 00:00:00-07:00,1993,True,4,True
41142,18,21,24,4,2.199219,4-Wheel or All-Wheel Drive,2000,Subaru,Legacy AWD,0,2013-01-01 00:00:00-07:00,1993,False,5,True
41143,16,18,21,4,2.199219,4-Wheel or All-Wheel Drive,2900,Subaru,Legacy AWD Turbo,0,2013-01-01 00:00:00-07:00,1993,True,4,True

In [49]:
# inspect intermediate data frame
df3

,city08,comb08,highway08,cylinders,displ,drive,eng_dscr,fuelCost08,make,model,trany,range,createdOn,year
0,19,21,25,4.0,2.0,Rear-Wheel Drive,(FFS),2000,Alfa Romeo,Spider Veloce 2000,Manual 5-spd,0,Tue Jan 01 00:00:00 EST 2013,1985
1,9,11,14,12.0,4.9,Rear-Wheel Drive,(GUZZLER),3850,Ferrari,Testarossa,Manual 5-spd,0,Tue Jan 01 00:00:00 EST 2013,1985
2,23,27,33,4.0,2.2,Front-Wheel Drive,(FFS),1550,Dodge,Charger,Manual 5-spd,0,Tue Jan 01 00:00:00 EST 2013,1985
3,10,11,12,8.0,5.2,Rear-Wheel Drive,NaN,3850,Dodge,B150/B250 Wagon 2WD,Automatic 3-spd,0,Tue Jan 01 00:00:00 EST 2013,1985
4,17,19,23,4.0,2.2,4-Wheel or All-Wheel Drive,"(FFS,TRBO)",2700,Subaru,Legacy AWD Turbo,Manual 5-spd,0,Tue Jan 01 00:00:00 EST 2013,1993
5,21,22,24,4.0,1.8,Front-Wheel Drive,(FFS),1900,Subaru,Loyale,Automatic 3-spd,0,Tue Jan 01 00:00:00 EST 2013,1993
6,22,25,29,4.0,1.8,Front-Wheel Drive,(FFS),1700,Subaru,Loyale,Manual 5-spd,0,Tue Jan 01 00:00:00 EST 2013,1993
7,23,24,26,4.0,1.6,Front-Wheel Drive,(FFS),1750,Toyota,Corolla,Automatic 3-spd,0,Tue Jan 01 00:00:00 EST 2013,1993
8,23,26,31,4.0,1.6,Front-Wheel Drive,(FFS),1600,Toyota,Corolla,Manual 5-spd,0,Tue Jan 01 00:00:00 EST 2013,1993
9,23,25,30,4.0,1.8,Front-Wheel Drive,(FFS),1700,Toyota,Corolla,Automatic 4-spd,0,Tue Jan 01 00:00:00 EST 2013,1993
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41134,18,20,24,4.0,2.1,Front-Wheel Drive,(FFS),2100,Saab,900,Manual 5-spd,0,Tue Jan 01 00:00:00 EST 2013,1993
41135,23,26,33,4.0,1.9,Front-Wheel Drive,(TBI) (FFS),1600,Saturn,SL,Automatic 4-spd,0,Tue Jan 01 00:00:00 EST 2013,1993
41136,21,24,30,4.0,1.9,Front-Wheel Drive,(MFI) (FFS),1750,Saturn,SL,Automatic 4-spd,0,Tue Jan 01 00:00:00 EST 2013,1993
41137,24,28,33,4.0,1.9,Front-Wheel Drive,(TBI) (FFS),1500,Saturn,SL,Manual 5-spd,0,Tue Jan 01 00:00:00 EST 2013,1993
41138,21,25,32,4.0,1.9,Front-Wheel Drive,(MFI) (FFS),1700,Saturn,SL,Manual 5-spd,0,Tue Jan 01 00:00:00 EST 2013,1993
41139,19,22,26,4.0,2.2,Front-Wheel Drive,(FFS),1900,Subaru,Legacy,Automatic 4-spd,0,Tue Jan 01 00:00:00 EST 2013,1993
41140,20,23,28,4.0,2.2,Front-Wheel Drive,(FFS),1850,Subaru,Legacy,Manual 5-spd,0,Tue Jan 01 00:00:00 EST 2013,1993
41141,18,21,24,4.0,2.2,4-Wheel or All-Wheel Drive,(FFS),2000,Subaru,Legacy AWD,Automatic 4-spd,0,Tue Jan 01 00:00:00 EST 2013,1993
41142,18,21,24,4.0,2.2,4-Wheel or All-Wheel Drive,(FFS),2000,Subaru,Legacy AWD,Manual 5-spd,0,Tue Jan 01 00:00:00 EST 2013,1993
41143,16,18,21,4.0,2.2,4-Wheel or All-Wheel Drive,"(FFS,TRBO)",2900,Subaru,Legacy AWD Turbo,Automatic 4-spd,0,Tue Jan 01 00:00:00 EST 2013,1993

# Don't Apply (if you can)

In [50]:
def tweak_autos(autos):
    cols = ['city08', 'comb08', 'highway08', 'cylinders', 'displ', 'drive', 'eng_dscr', 
        'fuelCost08', 'make', 'model', 'trany', 'range', 'createdOn', 'year']
    return (autos
     [cols]
     .assign(cylinders=autos.cylinders.fillna(0).astype('int8'),
             displ=autos.displ.fillna(0).astype('float16'),\
             drive=autos.drive.fillna('Other').astype('category'),
             automatic=autos.trany.str.contains('Auto'),
             speeds=autos.trany.str.extract(r'(\d)+').fillna('20').astype('int8'),
             createdOn=pd.to_datetime(autos.createdOn.replace({'EST': '-07:00', 'EDT': '-06:00'}, regex=True)),
             ffs=autos.eng_dscr.str.contains('FFS'))
     .astype({'highway08': 'int8', 'city08': 'int16', 'comb08': 'int16', 'fuelCost08': 'int16',
             'range': 'int16', 'year': 'int16', 'make': 'category'})
     .drop(columns=['trany', 'eng_dscr'])
    )

autos2 = tweak_autos(autos)

In [51]:
# try to be more Euro-centric
def to_lper100km(val):
    return 235.215 / val
autos2.city08.apply(to_lper100km)

0        12.379737
1        26.135000
2        10.226739
3        23.521500
4        13.836176
5        11.200714
6        10.691591
7        10.226739
8        10.226739
9        10.226739
           ...
41134    13.067500
41135    10.226739
41136    11.200714
41137     9.800625
41138    11.200714
41139    12.379737
41140    11.760750
41141    13.067500
41142    13.067500
41143    14.700938
Name: city08, Length: 41144, dtype: float64

In [52]:
# this gives the same result 
235.215 / autos.city08

0        12.379737
1        26.135000
2        10.226739
3        23.521500
4        13.836176
5        11.200714
6        10.691591
7        10.226739
8        10.226739
9        10.226739
           ...
41134    13.067500
41135    10.226739
41136    11.200714
41137     9.800625
41138    11.200714
41139    12.379737
41140    11.760750
41141    13.067500
41142    13.067500
41143    14.700938
Name: city08, Length: 41144, dtype: float64

In [54]:
%%timeit
autos2.city08.apply(to_lper100km)

9.31 ms Â± 193 Âµs per loop (mean Â± std. dev. of 7 runs, 100 loops each)

In [55]:
%%timeit
235.215 / autos2.city08

146 Âµs Â± 2.81 Âµs per loop (mean Â± std. dev. of 7 runs, 10000 loops each)

In [56]:
9_310 / 146

63.76712328767123